<!DOCTYPE html>
<html>
<head>
  <title>TimeCapsule</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag 'application' %>
  <script src="assets/jquery.js"></script>
  <script src="assets/bootstrap.min.js"></script>
  <script src="assets/wow.min.js"></script>
  <script src="assets/mb.bgndGallery.js"></script>
  <script src="assets/mb.bgndGallery.effects.js"></script>
  <script src="assets/jquery.simple-text-rotator.min.js"></script>
  <script src="assets/jquery.scrollTo.min.js"></script>
  <script src="assets/jquery.nav.js"></script>
  <script src="assets/modernizr.custom.js"></script>
  <script src="assets/grid.js"></script>
  <script src="assets/stellar.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="assets/contactform.js"></script>

  <!-- Template Custom Javascript File -->
  <script src="assets/custom.js"></script>
</body>
</html>
